In [3]:
import pandas as pd

df = pd.read_csv("./classification.csv")

df.head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
3   6.718035  25.704665      1.0
4  14.401919  16.770856      0.0

In [10]:
df[df["age"] > 20]

           age   interest  success
0    23.657801  18.859917      0.0
1    22.573729  17.969223      0.0
2    32.553424  29.463651      0.0
6    20.027969  73.454460      1.0
7    30.295138  62.901113      1.0
9    30.179457  58.982492      1.0
10   28.016497  63.927814      1.0
13   26.634447  91.966248      1.0
14   26.217869  36.400294      0.0
16   33.171938  66.752774      1.0
17   23.793953  22.575014      0.0
18   37.844484  36.320624      1.0
19   35.161354  33.163951      1.0
20   29.380894  25.282973      0.0
21   31.658935  73.136034      1.0
22   22.395841  96.520369      1.0
23   42.166378  35.625715      1.0
24   22.235514  57.171223      1.0
25   33.541273  65.962276      1.0
26   24.391651  18.497414      0.0
28   30.661149  71.822441      1.0
29   28.506479  69.194277      1.0
30   39.255248  72.282566      1.0
34   34.050685  31.810898      0.0
35   35.231492  32.622396      1.0
36   36.480827  66.258797      1.0
39   32.440925  68.941555      1.0
43   36.999722  31.251006      1.0
45   35.001755  62.553618      1.0
46   21.336407  71.742353      1.0
..         ...        ...      ...
243  24.931291  48.167800      0.0
245  26.839335  27.864451      0.0
246  33.067651  29.876238      0.0
247  40.356053  77.871243      1.0
249  29.671809  61.300251      1.0
252  25.597028  80.623709      1.0
254  20.436115  45.695926      1.0
255  28.962338  29.452105      0.0
257  34.990366  63.328767      1.0
259  32.022023  28.056576      0.0
261  30.647957  27.523548      0.0
264  29.982094  25.937397      0.0
265  24.357660  77.713338      1.0
267  23.395122  22.814213      0.0
271  33.431048  34.362483      0.0
272  30.011627  22.847910      0.0
273  25.584879  58.845740      1.0
276  34.683475  29.252257      1.0
277  25.311326  68.952334      1.0
278  22.242480  73.120854      1.0
279  26.402498  84.602361      1.0
280  38.110027  64.869657      1.0
284  26.303575  27.935352      0.0
285  27.727928  27.688066      0.0
286  21.284584  28.345179      0.0
287  34.360465  29.310443      0.0
292  27.697220  18.799309      0.0
294  22.264378  68.453459      1.0
295  25.677420  90.118212      1.0
296  21.215594  48.265520      1.0

[184 rows x 3 columns]

In [13]:
# OR: df[(df["age"] > 20) | (df["age"] < 30)]
df[(df["age"] > 20) & (df["age"] < 30)] # AND

           age   interest  success
0    23.657801  18.859917      0.0
1    22.573729  17.969223      0.0
6    20.027969  73.454460      1.0
10   28.016497  63.927814      1.0
13   26.634447  91.966248      1.0
14   26.217869  36.400294      0.0
17   23.793953  22.575014      0.0
20   29.380894  25.282973      0.0
22   22.395841  96.520369      1.0
24   22.235514  57.171223      1.0
26   24.391651  18.497414      0.0
29   28.506479  69.194277      1.0
46   21.336407  71.742353      1.0
47   20.113959  28.021840      0.0
50   26.395659  64.049450      1.0
54   26.359220  60.521433      1.0
55   20.103792  42.870033      0.0
59   22.159170  35.162548      0.0
61   26.203225  21.770222      0.0
62   25.652692  56.426814      1.0
65   28.847559  65.171876      1.0
66   20.319084  61.426273      1.0
67   23.679211  34.418492      0.0
71   22.111094  18.010156      0.0
73   22.953310  41.132264      0.0
76   24.816853  97.175508      1.0
77   28.612586  66.707727      1.0
79   20.522727  32.217626      0.0
81   22.480724  16.297882      0.0
82   22.897632  75.133998      1.0
..         ...        ...      ...
216  20.553124  50.520543      1.0
218  23.189457  44.781936      0.0
221  24.592677  73.013386      1.0
223  29.260799  66.240844      1.0
226  20.806301  66.853372      1.0
227  23.283644  40.614027      0.0
228  23.012303  74.481113      1.0
237  28.979245  25.292950      0.0
238  20.109828  24.054514      0.0
242  27.679475  62.257200      1.0
243  24.931291  48.167800      0.0
245  26.839335  27.864451      0.0
249  29.671809  61.300251      1.0
252  25.597028  80.623709      1.0
254  20.436115  45.695926      1.0
255  28.962338  29.452105      0.0
264  29.982094  25.937397      0.0
265  24.357660  77.713338      1.0
267  23.395122  22.814213      0.0
273  25.584879  58.845740      1.0
277  25.311326  68.952334      1.0
278  22.242480  73.120854      1.0
279  26.402498  84.602361      1.0
284  26.303575  27.935352      0.0
285  27.727928  27.688066      0.0
286  21.284584  28.345179      0.0
292  27.697220  18.799309      0.0
294  22.264378  68.453459      1.0
295  25.677420  90.118212      1.0
296  21.215594  48.265520      1.0

[99 rows x 3 columns]

In [19]:
df.drop([1, 3]).head()

         age   interest  success
0  23.657801  18.859917      0.0
2  32.553424  29.463651      0.0
4  14.401919  16.770856      0.0
5  17.457907  21.765215      0.0
6  20.027969  73.454460      1.0

In [22]:
success = df[df["success"] == 1]
success.head()

          age   interest  success
3    6.718035  25.704665      1.0
6   20.027969  73.454460      1.0
7   30.295138  62.901113      1.0
9   30.179457  58.982492      1.0
10  28.016497  63.927814      1.0

In [23]:
success.index

Int64Index([  3,   6,   7,   9,  10,  13,  15,  16,  18,  19,
            ...
            277, 278, 279, 280, 281, 283, 293, 294, 295, 296],
           dtype='int64', length=169)

In [25]:
df.drop(success.index).head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
4  14.401919  16.770856      0.0
5  17.457907  21.765215      0.0